h1 {
    color:red;
    font-size: 50px;
}

.bacon {
    background-color: green;
}

img:hover {
    background-color: gold;
}


.broccoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

#heading {
    color: blue;
}
